
/*=======media queries=============*/
@media screen and (min-width: 1860px) {
        .nav-top img {
          right: 19em;
         }

  }

@media screen and (max-width: 1900px) and (min-width: 1651px) {

       /*.nav-top {height: 63px;}*/
         .nav-top img {
          right: 14em;
         }
  }

@media screen and (max-width: 1650px) and (min-width: 1401px) {
       /*.nav-top {height: 63px;}*/
         .nav-top img {
          right: 7em;
         }
  }

  @media only screen and (min-width : 1701px) {
 .main-text {
          background-color: #FEDA00;
          float: left;
          color: black;
          font-size: 30px;
          font-family: 'palanquinthin', Arial, serif;
          text-shadow: 0px 0px 3px rgba(255,255,255,0.7);
          padding: 2.5em 2.5em;
          line-height: 1.25;
          width: 25em;
          height: 21.5em;
          z-index: 1;
          position: relative;
          left: 7em;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
        }
        .img-me {
          position: relative;
          float: right;
          right: 9em;
          top: -2em;
          z-index: 0;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          width: 38em;
        }
      }

      @media only screen and (min-width : 1600px) {
        .main-container {
          padding: 60px 30px;
          height: 54em;
          margin-bottom: 14em;
          border:3px solid black;
          -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
        }
         .carousel .item {
          min-height: 850px;
          height: 100%;
          width:100%;
          -webkit-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
        }
      }

@media only screen and (min-width : 1500px) and (max-width: 1700px) {
 .main-text {
          background-color: #FEDA00;
          float: left;
          color: black;
          font-size: 30px;
          font-family: 'palanquinthin', Arial, serif;
          text-shadow: 0px 0px 3px rgba(255,255,255,0.7);
          padding: 2.5em 2.5em;
          line-height: 1.25;
          width: 25em;
          height: 21.5em;
          z-index: 1;
          position: relative;
          left: 3em;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
        }
        .img-me {
          position: relative;
          float: right;
          right: 3em;
          top: 1em;
          z-index: 0;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          width: 35em;
        }
      }

      @media only screen and (min-width : 1380px) {
        .contact-wrapper {
            height: 46em;
            padding-top: 2em;
            width: 100%;
            background-color: #e9b000;
            margin: 3em 0;
            -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
          }
        .contact-container {
          width: 97%;
          height: 42em;
          margin: 5em 0;
          margin: 0 auto;
          background: -webkit-linear-gradient(80deg, #008f95 43%, #cd5360 43%);
          background: linear-gradient(10deg, #008f95 43%, #cd5360 43%);
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
        }
          .h1style {
          font-family: 'rulervolume', sans-serif;
          letter-spacing: 20px;
          text-transform: uppercase;
          font-size: 11vw;
          text-align: center;
          line-height: 1.2;
          margin: 0 auto;
          position: relative;
          left: 48%;
          top: 48%;

          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

          color: #cd5360;  /*color bottom half of contact*/
          text-shadow: /*bottom half of contact*/
          /*1*/-1px -1px 0 #bfd8d2, 1px -1px 0 #bfd8d2, -1px 1px 0 #bfd8d2, 1px 1px 0 #bfd8d2, /*boxy outer lining for bottom half*/
          /*2*/1px 0px 0px #43c5c1, 0px 1px 0px #43c5c1, 2px 1px 0px #43c5c1, 1px 2px 0px #43c5c1, 3px 2px 0px #43c5c1, 2px 3px 0px #43c5c1, 4px 3px 0px #43c5c1, 3px 4px 0px #43c5c1, 5px 4px 0px #43c5c1, /*inner shadow for bottom half*/
          /*1*/3px 5px 0px #bfd8d2, 6px 5px 0px #bfd8d2,
          /*3*/-1px 2px 0 black,
          /*1*/0 3px 0 #bfd8d2, 1px 4px 0 #bfd8d2, 2px 5px 0px #bfd8d2, 2px -1px 0 #bfd8d2, 3px 0 0 #bfd8d2, 4px 1px 0 #bfd8d2, 5px 2px 0px #bfd8d2, 6px 3px 0 #bfd8d2, 7px 4px 0 #bfd8d2,
          /*4*/10px 10px 4px #49274a; /*main background shade bottom*/
        }
      }

    @media only screen and (max-width : 1200px) {

      /*navtop*/

      .box-style {
            margin-top: 4em;
            margin-bottom: -2em;

          }
      .main-text {
          font-size: 27px;
          width: 19em;
          height: 19em;
          position: relative;
          left: 2em;
        }

        .icon {
          position: relative;
          left: 4.7em;
          bottom: 0;
          top: .5em;
          width: 23%;
          margin: 4% 1%;
          padding-bottom: 22%;
        }
        .h1style {
          left: 48%;
          font-size: 14vw;

        }
        .slide_buttons {
          top: 235.1em;
        }

    }

     @media only screen and (max-width : 1060px) {

      .main-text {
          font-size: 27px;
          width: 18em;
          height: 18em;
          position: relative;
          left: 2em;
        }}



    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      .rw-sentence > span:first-child { font-size: 500%; left: 0px;}
          .rw-sentence > span:nth-child(2) { font-size: 200%; top: 125px; left: 30px; }
          .rw-sentence > span:nth-child(3) { top: 175px; left: 30px; font-size: 235%; }
          .rw-words { left: 95px; top: 171px; }
          .rw-words span { font-size: 250%; }
          .rw-sentence > span:last-child { top: 240px; left: 30px; }

          /*navtop*/


      .rw-words{
          margin-left: -80px;
        }

        .main-text {
          font-size: 23px;
          width: 16em;
          height: 22em;
          position: relative;
          left: 2em;
        }

        .img-me {
          position: relative;
          top: 1em;
          z-index: 0;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          max-width: 480px;
        }
        .slide_buttons {
          top: 233.9em;
        }
        .previous_btn {
          right: 15em;
        }
        .next_btn {
          left: 15em;
        }
        .social-box {
            height: 15em;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }

        .icon {
          position: relative;
          left: 3.2em;
          bottom: 0;
          top: -3.5em;
          width: 23%;
          margin: 4% 1%;
          padding-bottom: 22%;
          padding-left: 0;
        }
        .h1style {
          left: 48%;
          font-size: 12.5vw;
        }
        .contact-wrapper {
            height: 35em;
          }

          .contact-container {
          height: 31em;
        }

        /*box around main content at beginning*/
        .box-style {
            margin-top:
          }
          /*footer*/

          .float-left {
            float: left;
          }
          .float-right {
            float: right;
          }

          #github2 {
          letter-spacing: 7px;
          font-size: 15px;
          top: 7em;
         }

          .foot-style {
          font-size: 12px;
          height: 42em;
          line-height: 2;
          margin-top: -5em;
        }
        .footer-2 {
          position: relative;
          right: 16em;
        }
        .foot-social {
          position: relative;
          bottom: 19em;
        }
        .bottom-footer {
          position: relative;
          top: 6em;
          font-size: 15px;
          width: 100%;
        }
        .carousel-caption h3 {
          padding-top: .7em;

          font-family: ostrich;
          color: black;
          background-color: #caebf2;
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 200px;
            height: 4em;
          -moz-border-radius: 200px;
          border-radius: 200px;
          font-size: 50px;
        }
        .parallax2 {
            /* The image used */
            background-image: url("../images/flower-back.jpeg");
            -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
            /* Set a specific height */
            height: 45em;
            padding-top: 2em;
            margin-top: -7em;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .animation-2 {
      position: relative;
      bottom: 1.2em;

    }
      }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 850px) {




      .main-text {
          font-size: 23px;
          width: 16em;
          height: 22em;
          position: relative;
          left: 2em;
        }

        .img-me {
          position: relative;
          top: 1em;
          z-index: 0;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          max-width: 400px;
        }
        .slide_buttons {
          top: 233.9em;
        }
        .previous_btn {
          right: 12em;
        }
        .next_btn {
          left: 12em;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

          .nav-top {height: 20px;}
          .nav-top img {width: 200px;}

           .component {
          position: relative;
          margin-bottom: 1.5em;
          height: 37em;
          background: #0e0b16;
          opacity: .90;
          font-family: 'palanquin', Arial, sans-serif;
        }



        .more-reveal {
          top: 22em;
        }
        .back-color {
          margin-top: -1.5em;
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 38em;
          background-color: #008f95;
           opacity: .1;
           -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
        }
        .rw-wrapper{
          height: 30em;
          width: 100%;
          position: relative;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
           border-radius: 8px;
        }
        .main-text {

          font-size: 30px;
          padding: 3.5em 3em;
          line-height: 1.25;
          width: 90%;
          height: 20em;
          position: relative;
          left: 5%;

        }
        .img-me {
          max-width: 80%;
          min-width: 80%;
          width: 80%;
          position: relative;
          width: 75%;
          top: 4em;
          left: 10%;
          right: 0;
          float: left;
          margin-bottom: 8em;
          z-index: 0;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
        }



        .slider {
          margin-top: 2em;
        }
        .slide_buttons {
          display: none;
        }
        .previous_btn {
          left: -10em;
        }
        .next_btn {
          left: 10.5em;
        }
        .social-box {
          margin-top: -2em;
          margin-bottom: -2em;
            height: 15em;
        }
        .icon {
          top: -3.7em;
        }
        /*footer*/
        .foot-style {
          font-size: 12px;
          height: 46em;
          line-height: 2;
          margin-top: -5em;
        }
        #github2 {
          letter-spacing: 7px;
          font-size: 14px;
          top: 7em;
         }

        .marg-copyright{
          width: 100%;
        }
        .columns-left {
          position: relative;
          left: 10em;
        }

        .footer-2 {
          position: relative;
          right: 10em;
        }
        .foot-social {
          position: relative;
          bottom: 27em;
          width: 100%
        }
        .bottom-footer {
          position: relative;
          top: 6em;
          font-size: 15px;
          width: 100%;
        }
        .main-container {
          padding: 60px 30px;
          height: 43.5em;
          margin-bottom: 16.5em;
          border:3px solid black;
          -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
        }
         .carousel .item {
          min-height: 650px;
          height: 100%;
          width:100%;
          -webkit-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
        }
    }

    @media only screen and (max-width : 700px) {
    .carousel-caption h3 {
          padding-top: 1.3em;

          font-family: ostrich;
          color: black;
          background-color: #caebf2;
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 200px;
            height: 5em;
          -moz-border-radius: 200px;
          border-radius: 200px;
          font-size: 35px;
        }
      }

    @media only screen and (max-width : 624px) {
          .nav-top {display: none;}
          .nav-top img {display: none;}
          .nav-img-2 {
          width: 75%;
          display: inline;
         }
         .component {
          margin-top: -3em;
          position: relative;
          margin-bottom: 1.5em;
          height: 40em;
          background: #0e0b16;
          opacity: .90;
          font-family: 'palanquin', Arial, sans-serif;
        }

        .no-csstransforms li {
            width: 4em;
            height: 4em;
            line-height: 4em;
          }

        .main-text {
          font-size: 30px;
          padding: 2.5em 2.5em;
          line-height: 1.25;
          width: 90%;
          height: 22em;
          position: relative;
          left: 5%;
        }
        .img-me {
          max-width: 90%;
          min-width: 90%;
          width: 90%;
          top: 2em;
          left: 5%;
          right: 0;
        }

        .nav-img-2 {
          position: relative;
          top: -3em;
          left: 20%;
          bottom: 2em;
         }

         .animation-1 {
          position: relative;
          left: 10%;
         }

          .laxfont {
          font-family:'palanquinthin', sans-serif;;
          font-size: 35px;
          color: black;
          background-color: white;
          line-height: 1.1;
          height: 4.7em;
          width: 90%;
          position: relative;
          /*left: 7em;*/
          margin: 0 auto;
          top: 5em;
          padding-left: .6em;
          padding-top: .5em;
        }

         .laxfont2 {
      font-family:'palanquinthin', sans-serif;;
      margin: 0 auto;
      cursor: pointer;
      font-size: 40px;
      color: black;
      background-color: white;
      line-height: 1;
      height: 3.5em;
      width: 12em;
      position: relative;
      /*left: 7em;*/
      top: 4em;
      padding-left: .6em;
      padding-top: .5em;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: 7px 6px 24px -7px rgba(0,0,0,0.75);
      -moz-box-shadow: 7px 6px 24px -7px rgba(0,0,0,0.75);
      box-shadow: 7px 6px 24px -7px rgba(0,0,0,0.75);
      -webkit-transition: all 1s ease; /* Safari and Chrome */
      -moz-transition: all .5s ease; /* Firefox */
      -ms-transition: all .5s ease; /* IE 9 */
      -o-transition: all .5s ease; /* Opera */
      transition: all .5s ease;
    }
    .animation-2 {
      position: relative;
      bottom: 2.9em;
    }

        .parallax {
          /* The image used */
          height: 37em;
          padding-top: 2em;
        }

      .parallax2 {
            /* The image used */
            height: 34em;
            margin-top: -10em;
        }

        .parallax3 {
            /* The image used */
            height: 37em;
            padding-top: 1em;
        }

        .container-slider {
          width: 100%;
        }

        .slider {
          height: 33em;
          margin-top: 6em;
        }

        .slide_viewer {
          height: 33em;
        }

        .slide_buttons {
          display: none;
        }
        .previous_btn {
          left: -10em;
        }
        .next_btn {
          left: 10.5em;
        }
        .h1style {
          left: 48%;
          font-size: 10.5vw;
        }
        .contact-wrapper {
            height: 30em;
          }
        .contact-container {
          height: 26em;
        }
        .social-box {
          margin-top: -2em;
            height: 10em;
            margin-bottom: -25em;
        }
        .icon {
          top: -5em;
          left: 1.5em;
          margin: 4% 1.5%;
        }
         .icon__name {
          font-size: 20px;
        }

        /*parallax 3 figure*/
        .grid {
          bottom: 2em;
        }

        /*footer*/

        .marg-copyright{
          width: 100%;
          margin-left: -55px;
        }
        #github2 {
          letter-spacing: 4px;
          font-size: 14px;
          top: 7em;
         }


          .foot-style {
          font-size: 12px;
          height: 46em;
          line-height: 2;
          margin-top: -14em;
        }
        .col-3 {
          position: relative;
          right: 170px;
        }

        .footer-2 {
          position: relative;
          right: 0em;
        }
        .float-left {
          left: 5em;
        }

        .foot-social {
          position: relative;
          bottom: 27em;
          width: 100%
        }
        .bottom-footer {
          position: relative;
          top: 6em;
          font-size: 15px;
          width: 100%;
        }
        .main-container {
          padding: 60px 30px;
          height: 38em;
          margin-bottom: 16em;
          border:3px solid black;
          -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
        }
         .carousel .item {
          min-height: 550px;
          height: 100%;
          width:100%;
          -webkit-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
        }

    }
    @media only screen and (max-width: 580px) {
    .icon {
          top: -4.6em;
          left: 1.5em;
          margin: 4% 1.5%;
        }}

 @media only screen and (max-width: 500px) {
        .no-ccstransforms .cn-wrapper {
            padding: .5em;
          }
          .no-csstransforms .cn-wrapper li {
            width: 4em;
            height: 4em;
            font-size: .9em;
            line-height: 4em;
          }
          .parallax2 {
            /* The image used */
            height: 28em;
            margin-top: -8em;

        }

    .carousel-caption h3 {
          padding-top: 1.3em;

          font-family: ostrich;
          color: black;
          background-color: #caebf2;
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 200px;
            height: 5em;
          -moz-border-radius: 200px;
          border-radius: 200px;
          font-size: 25px;

      }
      .animation-2 {
      position: relative;
      bottom: 2em;
    }
        }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

        .animation-1 {
          position: relative;
          left: 15%;
         }

        .component {
          margin-top: -3em;
          position: relative;
          margin-bottom: 1.5em;
          height: 35em;
          background: #0e0b16;
          opacity: .90;
          font-family: 'palanquin', Arial, sans-serif;
        }

        .no-csstransforms li {
            width: 4em;
            height: 4em;
            line-height: 4em;
          }

          .csstransforms .cn-wrapper {
            font-size: .68em;
          }

          .cn-button {
            font-size: 1em;
          }

          .more-reveal {
          height: 5em;
          width: 10em;
          margin: 0 auto;
          z-index: 0;
          padding-left: 5px;
          position: relative;
            top: 18em;
        }
        .scroll{
            height: 40px;
            width: 120px;
            padding-top: 1px;
            font-size: 17px;
        }
        .back-color {
            margin-top: -1.5em;
            height: 32em;
        }
        .rw-wrapper{
          height: 23em;
        }
        .rw-words{
          top: 122px;
          height: 80px;
          width: 100%;
          -webkit-perspective: 800px;
          perspective: 800px;
        }
        .rw-words span{
          font-size: 200%;
        }
        .main-text {
          font-size: 23px;
          padding: 2.5em 2.5em;
          line-height: 1.25;
          width: 90%;
          height: 25em;
          position: relative;
          left: 5%;
        }
        .img-me {
          max-width: 95%;
          min-width: 95%;
          width: 95%;
          top: 2em;
          left: 2.5%;
          right: 0;
        }

        .nav-img-2 {
          position: relative;
          top: -3em;
          left: 14%;
          bottom: 2em;
         }

          .laxfont {
          font-family:'palanquinthin', sans-serif;;
          font-size: 26px;

          color: black;
          background-color: white;
          line-height: 1.1;
          height: 4.7em;
          width: 100%;
          position: relative;
          /*left: 7em;*/
          margin: 0 auto;
          top: 4em;

          padding-top: .5em;
          padding-left: 1em;
        }
        .laxfont2 {
      font-size: 26px;
      line-height: 1.1;
      height: 3em;
      width: 100%;
      top: 5em;
      padding-top: .7em;
    }

    .animation-2 {
      position: relative;
      bottom: 3.5em;
    }
        .parallax {
          /* The image used */
          height: 30em;
          padding-top: 2em;
      }

      .parallax2 {
            /* The image used */
            height: 28em;
            margin-top: -8.5em;

        }

        .parallax3 {
            /* The image used */
            height: 30em;
            padding-top: 1em;
        }

        .container-slider {
          width: 100%;
        }

        .slider {
          height: 25em;
          margin-top: 0em;
        }

        .slide_viewer {
          height: 25em;
        }

        .slide_buttons {
          display: none;
        }
        .previous_btn {
          display: none;
        }
        .next_btn {
          display: none;
        }
        .h1style {
          left: 48%;
          font-size: 12.5vw;
          line-height: 1.2;
        }
        .contact-wrapper {
            height: 30em;
          }
        .contact-container {
          height: 26em;
        }

        .icon {
          position: relative;
          left: 1em;
          bottom: 0;
          top: -3em;
          width: 29%;
          margin: 0% 0%;
          padding-bottom: 27%;
        }

        .social-box {
          margin-top: -5em;
          margin-bottom: 0;
            height: 10em;
        }

        .icon--facebook a {
          background-color: white;
          background-image: url("../images/facebook.png");
        }

        .icon--google-plus a {
          background-color: white;
          background-image: url("../images/g+.png");
          margin-left: .5em;
        }

        .icon--linkedin a {
          background-color: white;
          background-image: url("../images/linkedin.png");
          margin-left: 1em;
        }

        .h1style {
          left: 49%;
          font-size: 8vw;
          line-height: 1.5;
        }
        .contact-wrapper {
            height: 24em;
          }
        .contact-container {
          height: 20em;
        }


        /*g figure*/
        .grid {
          position: relative;
          margin: 0 auto;
          max-width: 1000px;
          list-style: none;
          text-align: center;
          height: 45em;
          padding-top: 10em;
          bottom: 5em;
        }

        figcaption h2{
          font-size: 20px;
        }

        .grid figure {
          position: relative;
          min-width: 320px;
          max-width: 550px;
          max-height: 360px;
          margin: 0 auto;
          height: auto;
          background: #3085a3;
          text-align: center;
          cursor: pointer;
          -webkit-box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
        }

        .grid figure figcaption {
          padding: .1em;
          color: #fff;
          text-transform: uppercase;
          font-size: .9em;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        /*footer*/

        .marg-copyright{
          width: 100%;
          margin-left: -55px;
        }

        .foot-style {
          font-size: 12px;
          height: 26em;
          line-height: 2;
          margin-top: -24em;
        }

        #github2 {
          letter-spacing: 1px;
          top: 6em;
         }
        .footer-1 {
          display: none;
        }

        .footer-2 {
          display: none;
        }
        .float-left {
          left: 5em;
        }
        .fload-right{
          right
        }
        .foot-social {
          position: relative;
          bottom: 8.5em;
          width: 100%
        }
        .bottom-footer {
          position: relative;
          top: 6em;
          font-size: 13px;
          width: 100%;
        }


        .bottom-footer a {
          padding: 0 10px;

        }

        .bottom-footer p {
          padding-top: 1em;
          padding-bottom: 1em;
        }
        .main-container {
          padding: 60px 0px;
          height: 30em;
          margin-bottom: 16em;
          border:0px solid black;
          -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        }
         .carousel .item {
          min-height: 450px;
          height: 100%;
          width:100%;
          -webkit-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
        }
        .carousel-caption h3 {
          padding-top: 1.3em;

          font-family: ostrich;
          color: black;
          background-color: #caebf2;
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 200px;
            height: 5em;
          -moz-border-radius: 200px;
          border-radius: 200px;
          font-size: 25px;

      }
      .carousel-caption {
          margin-bottom: 8em;


        }
    }

    @media only screen and (max-width:420px) {
          .no-csstransforms .cn-wrapper li {
            width: 100%;
            height: 3em;
            line-height: 3em;
          }
          .parallax2 {
            /* The image used */
            height: 28em;
            margin-top: -8em;
        }
        .laxfont2 {
      font-size: 26px;
      line-height: 1.1;
      height: 3.5em;
      width: 100%;
      top: 5em;
      padding-top: .7em;
        }}




    @media only screen and (max-width:375px) {
        .animation-2 {
          left: 0em;
    }
    .nav-img-2 {
          position: relative;
          top: -3em;
          left: 10%;
          bottom: 2em;
         }
  }

    @media only screen and (max-width : 360px) {
        .nav-img-2 {
          position: relative;
          top: -3em;
          left: 8%;
          bottom: 2em;
         }
  .parallax2 {
            /* The image used */
            height: 28em;
            margin-top: -7em;

        }
      .animation-2 {
      position: relative;
      left: -2em;
      bottom: .2em;

    }}

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

      .animation-2 {
      position: relative;
      bottom: -.2em;
    }
      .component {
          margin-top: -3em;
          position: relative;
          margin-bottom: 1.5em;
          height: 30em;
          background: #0e0b16;
          opacity: .90;
          font-family: 'palanquin', Arial, sans-serif;
        }

        .no-csstransforms li {
            width: 4em;
            height: 4em;
            line-height: 4em;
          }

          .csstransforms .cn-wrapper {
            font-size: .68em;
          }

          .cn-button {
            font-size: 1em;
          }

          .more-reveal {
          height: 5em;
          width: 10em;
          margin: 0 auto;
          z-index: 0;
          padding-left: 5px;
          position: relative;
            top: 18em;
        }
        .scroll{
            height: 40px;
            width: 120px;
            padding-top: 1px;
            font-size: 17px;
        }
        .back-color {
            margin-top: -1.5em;
            height: 30em;
        }
        .rw-wrapper{
          height: 21em;
        }
        .rw-words{
          top: 122px;
          height: 80px;
          width: 100%;
          -webkit-perspective: 800px;
          perspective: 800px;
        }
        .rw-words span{
          font-size: 200%;
        }
        .main-text {
          font-size: 20px;
          padding: 2.5em 2.5em;
          line-height: 1.25;
          width: 90%;
          height: 25em;
          position: relative;
          left: 5%;
        }
        .img-me {
          max-width: 95%;
          min-width: 95%;
          width: 95%;
          top: 2em;
          left: 2.5%;
          right: 0;
        }

        .nav-img-2 {
          position: relative;
          top: -3em;
          left: 1%;
          bottom: 2em;
         }

         .animation-1 {
          position: relative;
          left: 1%;
         }


          .laxfont {
          font-family:'palanquinthin', sans-serif;;
          font-size: 26px;

          color: black;
          background-color: white;
          line-height: 1.1;
          height: 4.7em;
          width: 100%;
          position: relative;
          /*left: 7em;*/
          margin: 0 auto;
          top: 4em;

          padding-top: .5em;
          padding-left: 1em;
        }
        .laxfont2 {
      font-size: 26px;
      line-height: 1.1;
      height: 4em;
      width: 100%;
      top: 5em;
      padding-top: .7em;
    }
        .parallax {
          /* The image used */
          height: 26em;
          padding-top: 2em;
      }

      .parallax2 {
            /* The image used */
            height: 25em;

        }

        .parallax3 {
            /* The image used */
            height: 25em;
            padding-top: 1em;
        }

        .container-slider {
          width: 100%;
        }

        .slider {
          height: 25em;
          margin-top: 0em;
        }

        .slide_viewer {
          height: 25em;
        }

        .slide_buttons {
          display: none;
        }
        .previous_btn {
          display: none;
        }
        .next_btn {
          display: none;
        }
        .h1style {
          left: 48%;
          font-size: 12.5vw;
          line-height: 1.2;
        }
        .contact-wrapper {
            height: 30em;
          }
        .contact-container {
          height: 26em;
        }

        .icon {
          position: relative;
          left: .5em;
          bottom: 0;
          top: -2.5em;
          width: 29%;
          margin: 0% 0%;
          padding-bottom: 27%;
        }

        .social-box {
          margin-top: -5em;
          margin-bottom: 0;
            height: 10em;
        }

        .icon--facebook a {
          background-color: white;
          background-image: url("../images/facebook.png");
        }

        .icon--google-plus a {
          background-color: white;
          background-image: url("../images/g+.png");
          margin-left: .5em;
        }

        .icon--linkedin a {
          background-color: white;
          background-image: url("../images/linkedin.png");
          margin-left: 1em;
        }

        .h1style {
          left: 49%;
          font-size: 8vw;
          line-height: 1.5;
        }
        .contact-wrapper {
            height: 17em;
          }
        .contact-container {
          height: 13em;
        }


        /*g figure*/
        .grid {
          position: relative;
          margin: 0 auto;
          max-width: 1000px;
          list-style: none;
          text-align: center;
          height: 45em;
          padding-top: 10em;
          bottom: 5em;
        }

        figcaption h2{
          font-size: 20px;
        }

        .grid figure {
          position: relative;
          min-width: 320px;
          max-width: 550px;
          max-height: 360px;
          margin: 0 auto;
          height: auto;
          background: #3085a3;
          text-align: center;
          cursor: pointer;
          -webkit-box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
        }

        .grid figure figcaption {
          padding: .1em;
          color: #fff;
          text-transform: uppercase;
          font-size: .9em;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        /*footer*/

        .marg-copyright{
          width: 100%;
          margin-left: -55px;
          position: relative;
          top: 5em;
        }

        .foot-style {
          font-size: 12px;
          height: 32em;
          line-height: 2;
          margin-top: -32em;
          margin-bottom: -3em;
        }

        #github2 {
          letter-spacing: 1px;
          top: 12.5em;
          font-size: 12px;
         }
        .footer-1 {
          display: none;
        }



        .footer-2 {
          display: none;
        }
        .float-left {
          left: 5em;
        }

        .foot-social {
          position: relative;
          bottom: 5.5em;
          width: 100%;

        }
        .bottom-footer {
          position: relative;
          top: 11em;
          font-size: 13px;
          width: 100%;
        }


        .bottom-footer a {
          padding: 0 10px;

        }

        .bottom-footer p {
          padding-top: 1em;
          padding-bottom: 1em;
        }
    }


 @media only screen and (min-width : 1600px) {
        #github {
          margin-right: -20%;
         }}
         @media only screen and (min-width : 1365px) and (max-width : 1599px)  {
        #github {
          margin-right: -10%;
         }}
         @media only screen and (min-width : 1200px) and (max-width : 1364px)  {
        #github {
          margin-right: -3%;
         }}



@media only screen and (max-width : 900px) and (min-width : 625px)  {
         #github {
          font-family: ostrich;
          letter-spacing: 5px;
          margin-top: 15px;
         }}

@media only screen and (max-width : 624px)  {
         #github {
          display: none;
         }}

        @media only screen and (max-width : 450px)  {
          body {
            overflow-x: hidden;

          }
        }







