

@media only screen and (max-width: 768px) {
          .nav-top {height: 63px;}
          .nav-top img {width: 200px;}}
          @media only screen and (max-width: 624px) {
          .nav-top {height: 53px;}
          .nav-top img {width: 175px;}}
          @media only screen and (max-width: 480px) {
          .nav-top {margin-left: 30%;}}

          @media only screen and (max-width:425px) {
          .nav-top {margin-left: 27%;}}
          @media only screen and (max-width:414px) {
          .nav-top {margin-left: 26%;}}
          @media only screen and (max-width:414px) {
          .nav-top {margin-left: 25%;}}
          @media only screen and (max-width:375px) {
          .nav-top {margin-left: 24%;}}
          @media only screen and (max-width:360px) {
          .nav-top {margin-left: 23%;}}
          @media only screen and (max-width:345px) {
          .nav-top {margin-left: 22%;}}
          @media only screen and (max-width:320px) {
          .nav-top {margin-left: 18%;}}
@media only screen and (max-width: 480px) {
          .component {height: 15.5em;}}
 @media only screen and (max-width: 620px) {
          .no-csstransforms li {
            width: 4em;
            height: 4em;
            line-height: 4em;
          }
        }

        @media only screen and (max-width: 500px) {
          .no-ccstransforms .cn-wrapper {
            padding: .5em;
          }

          .no-csstransforms .cn-wrapper li {
            width: 4em;
            height: 4em;
            font-size: .9em;
            line-height: 4em;
          }
        }

        @media only screen and (max-width: 480px) {
          .csstransforms .cn-wrapper {
            font-size: .68em;
          }

          .cn-button {
            font-size: 1em;
          }
        }

        @media only screen and (max-width:420px) {
          .no-csstransforms .cn-wrapper li {
            width: 100%;
            height: 3em;
            line-height: 3em;
          }
        }
 @media only screen and (max-width: 768px) {
          .main-sect h1 {font-size: 40px;}
          .main-sect {
            height: 45em;
          }
        }
        @media only screen and (max-width: 624px) {
          .main-sect h1 {font-size: 40px;}
          .main-sect {
            height: 38em;
          }
        }
        @media only screen and (max-width: 500px) {
          .main-sect h1 {font-size: 40px;}
          .main-sect {
            height: 33em;
          }
        }

          @media only screen and (max-width: 480px) {
          .main-sect h1 {font-size: 30px;}
        .main-sect {
            height: 29em;
          }}

          @media only screen and (max-width: 480px) {
          .main-sect h1 {font-size: 30px;}
        .main-sect {
            height: 37em;
          }}
          @media only screen and (max-width: 320px) {
          .main-sect h1 {font-size: 25px;
            line-height: 1.5;
            margin: 1.7em 0;
            }
          .main-sect {
            height: 65em;
          }}
 @media only screen and (max-width: 624px) {
          .form-circle {
          -webkit-border-radius: 90px;
          -moz-border-radius: 90px;
          border-radius: 90px;
          width: 155px;
          height: 7.5em;
          padding-top: 35px;
          margin: 0 auto;
          -webkit-transition: all 1s ease; /* Safari and Chrome */
          -moz-transition: all .5s ease; /* Firefox */
          -ms-transition: all .5s ease; /* IE 9 */
          -o-transition: all .5s ease; /* Opera */
          transition: all .5s ease;
          font-family: 'ostrich', Arial, sans-serif;
          letter-spacing: 2px;
        }

          .col4 {
          margin-top: 2em;
          height: 9em;
          font-size: 20px;
        }
      }

        @media only screen and (max-width: 500px) {
        .underline {
          position: relative;
          left: 30em;


        }
        .container-circles {
          position: relative;
          right: .5em;
        }
      }

      @media only screen and (max-width: 480px) {

        .container-circles {
          position: relative;
          right: 1.3em;
        }
      }

      @media only screen and (max-width: 414px) {
        .form-circle {
          -webkit-border-radius: 90px;
          -moz-border-radius: 90px;
          border-radius: 90px;
          width: 155px;
          height: 7.5em;
          padding-top: 35px;
          -webkit-transition: all 1s ease; /* Safari and Chrome */
          -moz-transition: all .5s ease; /* Firefox */
          -ms-transition: all .5s ease; /* IE 9 */
          -o-transition: all .5s ease; /* Opera */
          transition: all .5s ease;
          font-family: 'ostrich', Arial, sans-serif;
          letter-spacing: 2px;
          display: inline-block;
          background-color: #193441;
          cursor: pointer;
        }
        .p-opacity{
          color: white;
          opacity: 1;

        }
        .col4 {
          margin-left: 2em;
          margin-bottom: -2em;
        }
        }
        @media only screen and (max-width: 320px) {
        .form-circle {
          -webkit-border-radius: 90px;
          -moz-border-radius: 90px;
          border-radius: 90px;
          width: 155px;
          height: 7.5em;
          padding-top: 35px;
          -webkit-transition: all 1s ease; /* Safari and Chrome */
          -moz-transition: all .5s ease; /* Firefox */
          -ms-transition: all .5s ease; /* IE 9 */
          -o-transition: all .5s ease; /* Opera */
          transition: all .5s ease;
          font-family: 'ostrich', Arial, sans-serif;
          letter-spacing: 2px;
          display: inline-block;
          background-color: #193441;
          cursor: pointer;
        }
        .p-opacity{
          color: white;
          opacity: 1;

        }
        .col4 {
          margin-left: 4.75em;
          margin-bottom: -2em;
        }
        }

        @media only screen and (max-width: 1280px) {
              #btn-close-modal {
                width:150px;
                height: 3em;
                font-size: 16px;
                margin: 0 auto;
                text-align: center;
                cursor:pointer;
                color: white;
                background-color: #66b9bf;
                position: absolute;
                top: 75%;
                left: 45%;
                padding-top: 13px;
                -webkit-transition: color 0.5s;
                transition: color 0.5s;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                font-family: 'palanquin', Arial, sans-serif;
                letter-spacing: 2px;
              }}

            @media only screen and (max-width: 850px) {
              #btn-close-modal {
                width:150px;
                height: 3em;
                font-size: 16px;
                margin: 0 auto;
                text-align: center;
                cursor:pointer;
                color: white;
                background-color: #66b9bf;
                position: absolute;
                top: 65%;
                left: 41%;
                padding-top: 13px;
                -webkit-transition: color 0.5s;
                transition: color 0.5s;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                font-family: 'palanquin', Arial, sans-serif;
                letter-spacing: 2px;
              }

              .modal-content {
              width: 75%;
              margin: 0 auto;
              margin-top: 9em;
              font-family: 'palanquin', Arial, sans-serif;
              height: 12em;
              padding: 2.5em 1em;
            }
            }

            @media only screen and (max-width: 768px) {
              #btn-close-modal {
                width:150px;
                height: 3em;
                font-size: 16px;
                margin: 0 auto;
                text-align: center;
                cursor:pointer;
                color: white;
                background-color: #66b9bf;
                position: absolute;
                top: 60%;
                left: 40%;
                padding-top: 13px;
                -webkit-transition: color 0.5s;
                transition: color 0.5s;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                font-family: 'palanquin', Arial, sans-serif;
                letter-spacing: 2px;
              }

              .modal-content {
              width: 75%;
              margin: 0 auto;
              margin-top: 9em;
              font-family: 'palanquin', Arial, sans-serif;
              height: 13em;
              padding: 2.5em 1em;
            }

            }
            @media only screen and (max-width: 624px) {
              #btn-close-modal {
                width:150px;
                height: 3em;
                font-size: 14px;
                margin: 0 auto;
                text-align: center;
                cursor:pointer;
                color: white;
                background-color: #66b9bf;
                position: absolute;
                top: 60%;
                left: 36%;
                padding-top: 13px;
                -webkit-transition: color 0.5s;
                transition: color 0.5s;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                font-family: 'palanquin', Arial, sans-serif;
                letter-spacing: 2px;
              }

              .modal-content {
              width: 85%;
              margin: 0 auto;
              margin-top: 5em;
              font-family: 'palanquin', Arial, sans-serif;
              height: 13em;
              padding: 2.5em 1em;
            }
            }

            @media only screen and (max-width: 480px) {
              #btn-close-modal {
                width:150px;
                height: 3em;
                font-size: 14px;
                margin: 0 auto;
                text-align: center;
                cursor:pointer;
                color: white;
                background-color: #66b9bf;
                position: absolute;
                top: 52%;
                left: 32%;
                padding-top: 11px;
                -webkit-transition: color 0.5s;
                transition: color 0.5s;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                font-family: 'palanquin', Arial, sans-serif;
                letter-spacing: 2px;
              }

              .modal-content {
              width: 85%;
              margin: 0 auto;
              margin-top: 5em;
              font-family: 'palanquin', Arial, sans-serif;
              height: 14.5em;
              padding: 2.5em 1em;
              font-size: 16px;
            }
            }


            @media only screen and (max-width: 400px) {
              #btn-close-modal {
                top: 51%;
                left: 31%;
              }
              .modal-content {
              width: 85%;
              height: 14.5em;
              font-size: 16px;
            }
            }

            @media only screen and (max-width: 360px) {
              #btn-close-modal {
                top: 60%;
                left: 30%;
              }
              .modal-content {
              width: 85%;
              height: 14.5em;
              font-size: 16px;
            }
            }
            @media only screen and (max-width: 320px) {
              #btn-close-modal {
                top: 65%;
                left: 28%;
              }
              .modal-content {
              width: 85%;
              height: 14.5em;
              font-size: 16px;
            }
            }
@media only screen and (max-width: 850px) {
          .contact-box {
          margin: 0 auto;
          background-color: white;
          position: relative;
          top: 13.5em;
          width: 17em;
          height: 18em;
          margin-top: 3em;
          padding-top: 1.25em;
          -webkit-border-radius: 180px;
          -moz-border-radius: 180px;
           border-radius: 180px;
          opacity:0.75;
        }

        .contact-box:hover
        {
          background-color: #66b9bf;
        opacity:1;
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        }
      }

      @media only screen and (max-width: 480px) {
          .contact-box {
          margin: 0 auto;
          background-color: white;
          position: relative;
          top: 8.5em;
          width: 17em;
          height: 18em;
          margin-top: 0em;
          padding-top: 1.25em;
          -webkit-border-radius: 180px;
          -moz-border-radius: 180px;
           border-radius: 180px;
          opacity:0.75;
        }

        .contact-box:hover
        {
          background-color: #66b9bf;
        opacity:1;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.2);
        }
        .wrapper {
          height: 39em;
          background-color: #062f4f;
          margin-top: 3em;
        }
      }
      @media only screen and (max-width: 320px) {
          .contact-box {
          margin: 0 auto;
          background-color: white;
          position: relative;
          top: 5em;
          width: 17em;
          height: 18em;
          margin-top: 0em;
          padding-top: 1.25em;
          -webkit-border-radius: 180px;
          -moz-border-radius: 180px;
           border-radius: 180px;
          opacity:0.75;
        }

        .contact-box:hover
        {
          background-color: #66b9bf;
        opacity:1;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.2);
        }
        .wrapper {
          height: 33em;
          background-color: #062f4f;
        }
      }
@media only screen and (max-width: 480px) {

          .contact-style {
          margin: 0 auto;
          padding-top: 8em;
          width: 100%;
          font-family: 'palanquinthin', Arial, sans-serif;
          font-size: 14px;
        }
        }
        @media only screen and (max-width: 320px) {

          .contact-style {
          margin: 0 auto;
          padding-top: 10em;
          width: 100%;
          font-family: 'palanquinthin', Arial, sans-serif;
          font-size: 12px;
        }
        }
@media only screen and (max-width: 480px) {
          .h1-style {
          color: white;
          font-family: 'palanquin', Arial, sans-serif;
          font-size: 24px;
        }

        .box {
          font-family: 'ostrich', Arial, sans-serif;
          letter-spacing: 2px;
          font-size: 13px;
        }
        #input-message {
          height: 175px;
        }
        .wrapper-form {
          padding-top: 2em;
          margin-top: 2em;
          margin-bottom: 7.5em;
          background-color: #22264b;
          height: 24em;
        }
      }
        @media only screen and (max-width: 415px) {
        .half {
          float: left;
          width: 100%;
          margin-bottom: 0;
        }
        #input-message {
          height: 100px;
          margin-bottom: .4em;
        }

        .wrapper-form {
          padding-top: 2em;
          margin-top: 2em;
          margin-bottom: 7.5em;
          background-color: #22264b;
          height: 28em;
          }
        }
 @media only screen and (max-width : 1200px) {
            .icon {
          position: relative;
          left: 4.5em;
          bottom: 0;
          top: .5em;
          width: 23%;
          margin: 4% 1%;
          padding-bottom: 19%;
        }
        .social-box {

            margin: 0 auto;
            background-color: white;
            width: 80%;
            height: 13em;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;

        }
        .social-wrapper {
          width: 100%;
        }
        }

        @media only screen and (max-width : 992px) {
          .social-box {
            position: relative;
            left: .3em;
            margin: 0 auto;
            background-color: white;
            width: 90%;
            height: 13em;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
        .social-wrapper {
          width: 100%;
        }
        .icon {
          position: relative;
          left: 1.5em;
          bottom: 0;
          top: .5em;
          width: 23%;
          margin: 4% 1%;
          padding-bottom: 19%;
          padding-left: 0;
        }
        }
        @media only screen and (max-width : 768px) {
          .social-box {
            position: relative;
            bottom: 1em;
            left: .3em;
            margin: 0 auto;
            background-color: white;
            width: 500px;
            height: 11em;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;

        }
        .social-wrapper {
          width: 100%;
        }

        .icon {
          position: relative;
          left: 1.25em;
          bottom: 0;
          top: .5em;
          width: 17%;
          margin: 4% 1%;
          padding-bottom: 15%;
          padding-left: 0;
        }
        }

        @media only screen and (max-width : 624px) {
          .social-box {
            position: relative;
            bottom: 1em;
            left: .3em;
            margin: 0 auto;
            background-color: white;
            width: 400px;
            height: 10em;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;

        }
        .social-wrapper {
          width: 100%;
        }

        .icon {
          position: relative;
          left: 1.25em;
          bottom: 0;
          top: .5em;
          width: 13%;
          margin: 4% 1%;
          padding-bottom: 13%;
          padding-left: 0;
        }
        .icon__name {
          position: absolute;
          top: 40%;
          width: 100%;
          margin-top: -7px;
          color: #193441;
          font-size: 20px;
          text-align: center;
          -webkit-transition: all .3s ease-out;
          transition: all .3s ease-out;
          opacity: 0;
          -webkit-filter: blur(25px);
                  filter: blur(25px);
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          will-change: transform;
        }
        }

        @media only screen and (max-width : 480px) {
          .social-box {
            position: relative;
            bottom: 1em;
            left: .3em;
            margin: 0 auto;
            background-color: white;
            width: 330px;
            height: 9em;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
        .social-wrapper {
          width: 100%;
        }

        .icon {
          position: relative;
          left: 1.25em;
          bottom: 0;
          top: .5em;
          width: 10%;
          margin: 4% 1%;
          padding-bottom: 10%;
          padding-left: 0;
        }
        .icon__name {
          position: absolute;
          top: 45%;
          width: 100%;
          margin-top: -7px;
          color: #193441;
          font-size: 16px;
          text-align: center;
          -webkit-transition: all .3s ease-out;
          transition: all .3s ease-out;
          opacity: 0;
          -webkit-filter: blur(25px);
                  filter: blur(25px);
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          will-change: transform;
        }
          }

          @media only screen and (max-width : 400px) {
          .social-box {
            position: relative;
            bottom: 3em;
            left: .3em;
            margin: 0 auto;
            background-color: white;
            width: 330px;
            height: 9em;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
        .social-wrapper {
          width: 100%;
        }

        .icon {
          position: relative;
          left: 1.25em;
          bottom: 0;
          top: .5em;
          width: 10%;
          margin: 4% 1%;
          padding-bottom: 10%;
          padding-left: 0;
        }
          }
        @media only screen and (max-width : 320px) {
          .social-box {
            position: relative;
            bottom: 4em;
            left: .3em;
            margin: 0 auto;
            background-color: white;
            width: 270px;
            height: 6.5em;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;

        }
        .social-wrapper {
          width: 100%;
        }

        .icon {
          position: relative;
          left: 1.25em;
          bottom: 0;
          top: .5em;
          width: 8.5%;
          margin: 2% .5%;
          padding-bottom: 8.5%;
          padding-left: 0;
        }
        .icon__name {
          position: absolute;
          top: 45%;
          width: 100%;
          margin-top: -7px;
          color: #193441;
          font-size: 13px;
          text-align: center;
          -webkit-transition: all .3s ease-out;
          transition: all .3s ease-out;
          opacity: 0;
          -webkit-filter: blur(25px);
                  filter: blur(25px);
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          will-change: transform;
        }
        }
@media only screen and (max-width : 992px) {
          .float-left {
            float: left;
          }
          .float-right {
            float: right;
          }
          .foot-style {
          font-size: 12px;
          height: 41em;
          line-height: 2;
          margin-top: 10em;
        }
        .footer-2 {
          position: relative;
          right: 16em;
        }
        .foot-social {
          position: relative;
          bottom: 19em;
        }
        .bottom-footer {
          position: relative;
          top: 6em;
          font-size: 15px;
          width: 100%;
        }
      }

      @media only screen and (max-width : 768px) {
        /*footer*/
        .foot-style {
          font-size: 12px;
          height: 45em;
          line-height: 2;
          margin-top: 10em;
        }

        .marg-copyright{
          width: 100%;
        }
        .columns-left {
          position: relative;
          left: 10em;
        }

        .footer-2 {
          position: relative;
          right: 10em;
        }
        .foot-social {
          position: relative;
          bottom: 27em;
          width: 100%
        }
        .bottom-footer {
          position: relative;
          top: 6em;
          font-size: 15px;
          width: 100%;
        }
    }

    @media only screen and (max-width : 624px) {
      /*footer*/

        .marg-copyright{
          width: 100%;
          margin-left: -55px;
        }


          .foot-style {
          font-size: 12px;
          height: 45em;
          line-height: 2;
          margin-top: 10em;
        }
        .col-3 {
          position: relative;
          right: 170px;
        }

        .footer-2 {
          position: relative;
          right: 0em;
        }
        .float-left {
          left: 5em;
        }

        .foot-social {
          position: relative;
          bottom: 27em;
          width: 100%
        }
        .bottom-footer {
          position: relative;
          top: 6em;
          font-size: 15px;
          width: 100%;
          }
        }

          @media only screen and (max-width : 480px) {
    /*footer*/

        .marg-copyright{
          width: 100%;
          margin-left: -55px;
        }

        .foot-style {
          font-size: 12px;
          height: 25em;
          line-height: 2;
          margin-top: 10em;
        }
        .footer-1 {
          display: none;
        }

        .footer-2 {
          display: none;
        }
        .float-left {
          left: 5em;
        }
        .fload-right{
          right
        }
        .foot-social {
          position: relative;
          bottom: 8.5em;
          width: 100%
        }
        .bottom-footer {
          position: relative;
          top: 6em;
          font-size: 13px;
          width: 100%;
        }
        .bottom-footer a {
          padding: 0 10px;
        }

        .bottom-footer p {
          padding-top: 1em;
          padding-bottom: 1em;
          }
        }


        @media only screen and (max-width : 400px) {
      .foot-style {

          margin-top: 4em;
        }
      }

        @media only screen and (max-width : 320px) {

/*footer*/

        .marg-copyright{
          width: 100%;
          margin-left: -55px;
          position: relative;
          top: 5em;
        }

        .foot-style {
          font-size: 12px;
          height: 32em;
          line-height: 2;
          margin-top: 0;
          margin-bottom: -3em;
        }
        .footer-1 {
          display: none;
        }



        .footer-2 {
          display: none;
        }
        .float-left {
          left: 5em;
        }

        .foot-social {
          position: relative;
          bottom: 5.5em;
          width: 100%;

        }
        .bottom-footer {
          position: relative;
          top: 11em;
          font-size: 13px;
          width: 100%;
        }


        .bottom-footer a {
          padding: 0 10px;

        }

        .bottom-footer p {
          padding-top: 1em;
          padding-bottom: 1em;

        }
      }



@media screen and (min-width: 1860px) {
        .nav-top img {
          right: 19em;
         }
  }

@media screen and (max-width: 1900px) and (min-width: 1651px) {

       /*.nav-top {height: 63px;}*/
         .nav-top img {
          right: 14em;
         }
  }

@media screen and (max-width: 1650px) and (min-width: 1401px) {
       /*.nav-top {height: 63px;}*/
         .nav-top img {
          right: 7em;
         }
  }