/*for currently searching for animation... not sure if necessary*/
          *, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
          .clearfix:before, .clearfix:after { display: table; content: ''; }
          .clearfix:after { clear: both; }

        body{
            padding-top: 40px;
            font-family: 'palanquin', sans-serif;
            font-size: 18px;
            background-color: #fcf7f2;
            overflow-x: hidden;
            max-width: 100%;
            min-width: 100%;
            }



        .container-fluid {
            padding-right:0;
            padding-left:0;
            margin-right:auto;
            margin-left:auto
         }

        p li {
          font-size: 18px;
        }

        h1 {
          font-size: 10em;
        font-family: 'Cinzel', serif;
        text-shadow: 0px 0px 3px rgba(255,255,255,0.7);
        }

        h2 small {
            color: #83677B;
        }

        h3 {
          font-family: 'Josefin Slab', serif;

        }
        h4 {
          color: #E24E42 !important;
          font-family: 'Cinzel', serif;
        }

        a:link{
          text-decoration: none;
        }

/*navtop*/
        .nav-top {
        width: 100%;
        height: 80px;
      }

         .nav-top img {
          width: 245px;
          position: relative;
          bottom: 28px;
         }

         .nav-img-2 {
          width: 75%;
          display: none;

         }
/*circular navbar*/

        a, button {
          outline: none;
        }

          .component {
          position: relative;
          margin-bottom: 1.5em;
          height: 60em;
          background: #0e0b16;
          opacity: .90;
          font-family: 'palanquin', Arial, sans-serif;
        }

        .cn-button {
          position: absolute;
          top: 10em;
          left: 50%;
          z-index: 11;
          margin-top: -2.25em;
          margin-left: -2.25em;
          padding-top: 0em;
          width: 4.5em;
          height: 4.5em;
          border: none;
          border-radius: 70%;
          background: none;
          background-color: white;
          color: #373737;
          text-align: center;
          font-weight: 700;
          font-size: 1.5em;
          text-transform: uppercase;
          cursor: pointer;
          -webkit-backface-visibility: hidden;
        }

        .cn-button:hover {
          background-color: #bbc4ef;
          color: white;
          opacity: .75;
        }

/* Pulse Grow effect on button*/
        @-webkit-keyframes hvr-pulse-grow {
          to {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
        @keyframes hvr-pulse-grow {
          to {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
        .hvr-pulse-grow {
          display: inline-block;
          vertical-align: middle;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px transparent;
        }
        .hvr-pulse-grow:hover, .hvr-pulse-grow:active {
          -webkit-animation-name: hvr-pulse-grow;
          animation-name: hvr-pulse-grow;
          -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-direction: alternate;
          animation-direction: alternate;
        }
        /*end pulse grow effect*/

        .csstransforms .cn-wrapper {  /*style of navs taht come out after menu is clicked*/
          position: absolute;
          top: 15.2em;
          left: 50%;
          z-index: 10;
          margin-top: -13em;
          margin-left: -13.5em;
          width: 27em;
          height: 27em;
          border-radius: 50%;
          background: transparent;
          opacity: 0;
          -webkit-transition: all .3s ease 0.3s;
          -moz-transition: all .3s ease 0.3s;
          transition: all .3s ease 0.3s;
          -webkit-transform: scale(0.1);
          -ms-transform: scale(0.1);
          -moz-transform: scale(0.1);
          transform: scale(0.1);
          pointer-events: none;
          overflow: hidden;
        }

/*cover to prevent extra space of anchors from being clickable*/
        .csstransforms .cn-wrapper:after{
          content:".";
          display:block;
          font-size:2em;
          width:6.2em;
          height:6.2em;
          position: absolute;
          left: 50%;
          margin-left: -3.1em;
          top:50%;
          margin-top: -3.1em;
          border-radius: 50%;
          z-index:10;
          color: transparent;
        }

        .csstransforms .opened-nav {
          border-radius: 50%;
          opacity: 1;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          transition: all .3s ease;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          pointer-events: auto;
        }
/*edit the links themselves*/
        .csstransforms .cn-wrapper li {
          position: absolute;
          top: 0%;
          left: 50%;
          overflow: hidden;
          margin-top: -1.3em;
          margin-left: -10em;
          width: 10em;
          height: 10em;
          font-size: 1.5em;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          transition: all .3s ease;
          -webkit-transform: rotate(76deg) skew(60deg);
          -moz-transform: rotate(76deg) skew(60deg);
          -ms-transform: rotate(76deg) skew(60deg);
          transform: rotate(76deg) skew(60deg);
          -webkit-transform-origin: 100% 100%;
          -moz-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
          pointer-events: none;
        }

        .csstransforms .cn-wrapper li a {
          position: absolute;
          right: -7.25em;
          bottom: -7.25em;
          display: block;
          width: 14.5em;
          height: 14.5em;
          border-radius: 50%;
          background: #caebf2;
          background: -webkit-radial-gradient(transparent 35%, #e9e7da 35%);
          background: -moz-radial-gradient(transparent 35%, #e9e7da 35%);
          background: radial-gradient(transparent 35%, #e9e7da 35%);
          color: black;
          text-align: center;
          text-decoration: none;
          font-size: 1.2em;
          line-height: 2;
          -webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
          -moz-transform: skew(-60deg) rotate(-75deg) scale(1);
          -ms-transform: skew(-60deg) rotate(-75deg) scale(1);
          transform: skew(-60deg) rotate(-75deg) scale(1);
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          pointer-events: auto;
        }

        .csstransforms .cn-wrapper li a span {
          position: relative;
          top: 1.8em;
          display: block;
          font-size: .5em;
          font-weight: 700;
          text-transform: uppercase;

        }

        .csstransforms .cn-wrapper li a:hover,
        .csstransforms .cn-wrapper li a:active,
        .csstransforms .cn-wrapper li a:focus {
          background: -webkit-radial-gradient(transparent 35%, #02558b 35%);
          background: -moz-radial-gradient(transparent 35%, #02558b 35%);
          background: radial-gradient(transparent 35%, #02558b 35%);
          color: white;
        }
        .csstransforms .cn-wrapper li a:focus {
            position: fixed; /* fix the displacement bug in webkit browsers when using tab key */
        }

        .csstransforms .opened-nav li {
          -webkit-transition: all .3s ease .3s;
          -moz-transition: all .3s ease .3s;
          transition: all .3s ease .3s;

        }

        .csstransforms .opened-nav li:first-child {
          -webkit-transform: rotate(-45deg) skew(60deg);
          -moz-transform: rotate(-45deg) skew(60deg);
          -ms-transform: rotate(-45deg) skew(60deg);
          transform: rotate(-45deg) skew(60deg);
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
        }

        .csstransforms .opened-nav  li:nth-child(2) {
          -webkit-transform: rotate(24deg) skew(60deg);
          -moz-transform: rotate(24deg) skew(60deg);
          -ms-transform: rotate(24deg) skew(60deg);
          transform: rotate(24deg) skew(60deg);
        }

        .csstransforms .opened-nav li:nth-child(3) {
          -webkit-transform: rotate(128deg) skew(60deg);
          -moz-transform: rotate(128deg) skew(60deg);
          -ms-transform: rotate(128deg) skew(60deg);
          transform: rotate(128deg) skew(60deg);
        }

        .csstransforms .opened-nav li:nth-child(4) {
          -webkit-transform: rotate(195deg) skew(60deg);
          -moz-transform: rotate(195deg) skew(60deg);
          -ms-transform: rotate(195deg) skew(60deg);
          transform: rotate(195deg) skew(60deg);
        }

        .no-csstransforms .cn-wrapper {
          overflow: hidden;
          margin: 10em auto;
          padding: .5em;
          text-align: center;
        }

        .no-csstransforms .cn-wrapper ul {
          display: inline-block;
        }

        .no-csstransforms .cn-wrapper li {
          float: left;
          width: 5em;
          height: 5em;
          background-color: #fff;
          text-align: center;
          font-size: 1em;
          line-height: 5em;
        }

        .no-csstransforms .cn-wrapper li a {
          display: block;
          width: 100%;
          height: 100%;
          color: inherit;
          text-decoration: none;
        }

        .no-csstransforms .cn-wrapper li a:hover,
        .no-csstransforms .cn-wrapper li a:active,
        .no-csstransforms .cn-wrapper li a:focus {
          background-color: #f8f8f8;
        }

        .no-csstransforms .cn-wrapper li.active a{
          background-color: #6F325C;
          color: #fff;
        }

        .no-csstransforms .cn-button {
          display: none;
        }

/*end new circular navbar*/
/*move button*/
        .more-reveal {
          height: 5em;
          width: 10em;
          margin: 0 auto;
          z-index: 0;
          padding-left: 5px;
          position: relative;
          top: 22em;
        }

        .scroll{
          z-index: 1;
          height: 60px;
          width: 150px;
          background-color: #0e0b16;
          margin: 0 auto;
          position: relative;
          top: 2em;
          text-align: center;
          color: white;
          padding-top: 9px;
          padding-left: 7px;
          cursor: pointer;
          border-style: solid;
          border-width: 3px;
          border-color: #fff;
          font-family: 'ostrich', Arial, sans-serif;
          font-size: 20px;
          letter-spacing: 7px;
          -webkit-transition: all 1s ease; /* Safari and Chrome */
          -moz-transition: all .5s ease; /* Firefox */
          -ms-transition: all .5s ease; /* IE 9 */
          -o-transition: all .5s ease; /* Opera */
          transition: all .5s ease;
        }
        .scroll:hover {
          background-color: #fff;
          color: black;
          letter-spacing: 15px;
          padding-left: .7em;
        }

          .navbar-default .navbar-nav > li > a {
        color: #B1A296;*/ /*Change active text color here*/
        }

  /*background color*/
        .back-color {
          margin-top: -1.5em;
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 42em;
          background-color: #008f95;
           opacity: .1;
           -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
        }

        .back-color:hover{
        opacity: 0;
                }
/*hello/welcome animation*/

        .rw-wrapper{
          height: 37em;
          width: 100%;
          position: relative;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
           border-radius: 8px;
        }

/*general styling*/
        .rw-sentence span{
          width: 100%;
          text-align: center;
          color: rgba(255,255,255,1);
          font-family: 'palanquinthin';
          white-space: nowrap;
          text-shadow: 2px 5px 10px rgba(0,0,0,0.1);
        }

/*where the words appear*/
        .rw-words{
          position: absolute;
          margin-left: 0px;
          top: 125px;
          height: 80px;
          width: 100%;
          -webkit-perspective: 800px;
          perspective: 800px;
        }
/*how the words initially appear as they fade to the final color*/
        .rw-words span{
          position: absolute;
          font-size: 500%;
          color: transparent;
          text-shadow: 0px 0px 80px rgba(255,255,255,1);
          opacity: 0;
          -webkit-animation: rotateWord 15s linear infinite 0s; /*speed it comes in*/
          -ms-animation: rotateWord 15s linear infinite 0s;
          animation: rotateWord 15s linear infinite 0s;
        }
        .rw-words span:nth-child(2) {
            -webkit-animation-delay: 3s;
          -ms-animation-delay: 3s;
          animation-delay: 3s;
        }
        .rw-words span:nth-child(3) {
            -webkit-animation-delay: 6s;
          -ms-animation-delay: 6s;
          animation-delay: 6s;
        }
        .rw-words span:nth-child(4) {
            -webkit-animation-delay: 9s;
          -ms-animation-delay: 9s;
          animation-delay: 9s;
        }
        .rw-words span:nth-child(5) {
            -webkit-animation-delay: 12s;
          -ms-animation-delay: 12s;
          animation-delay: 12s;
        }


        @-webkit-keyframes rotateWord {
            0% { opacity: 0; -webkit-animation-timing-function: ease-in; -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
            5% { opacity: 1; -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg); }
          6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: black; } /*color as it lands*/
            17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }/*fades to before disapearing*/
            20% { opacity: 0; }
            100% { opacity: 0; }
        }
        @-ms-keyframes rotateWord {
            0% { opacity: 0; -ms-animation-timing-function: ease-in; -ms-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
            5% { opacity: 1; -ms-animation-timing-function: ease-out; -ms-transform: translateY(0px) translateZ(0px) rotateY(0deg); }
          6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: ; black}
            17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
            20% { opacity: 0; }
            100% { opacity: 0; }
        }
        @keyframes rotateWord {
            0% { opacity: 0; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
            5% { opacity: 1; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg); transform: translateY(0px) translateZ(0px) rotateY(0deg); }
          6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: black; }
            17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
            20% { opacity: 0; }
            100% { opacity: 0; }
        }

/*end animation*/

/*contact box*/
          .box-style {
            height: 40em;
            padding-top: 4.5em;
            margin: 4em 0;

          }

          .main-text {
          background-color: #FEDA00;
          float: left;
          color: black;
          font-size: 30px;
          font-family: 'palanquinthin', Arial, serif;
          text-shadow: 0px 0px 3px rgba(255,255,255,0.7);
          padding: 2.5em 2.5em;
          line-height: 1.25;
          width: 19em;
          height: 19.5em;
          z-index: 1;
          position: relative;
          left: 2em;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
        }

        .main-text::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          border: 2px solid #000;
          bottom: 20px;
          right: 20px;
        }

        .img-me {
          position: relative;
          float: right;
          right: 2em;
          top: 1em;
          z-index: 0;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }

/*animation*/
        .fix-words {
          position: relative;
          display: inline-block;
        }

/*box around social media*/
        .social-box {
            position: relative;
            bottom: 10em;
            margin: 0 auto;
            background-color: white;
            width: 100%;
            height: 26em;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            list-style: none;

        }
        .social-wrapper {
          width: 100%;
        }

        .effect8
        {
          position:relative;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }
        .effect8:before, .effect8:after
        {
          content:"";
            position:absolute;
            z-index:-1;
            box-shadow:0 0 20px rgba(0,0,0,0.8);
            top:10px;
            bottom:10px;
            left:0;
            right:0;
            border-radius:100px / 10px;
        }
        .effect8:after
        {
            right:10px;
            left:auto;
            transform:skew(8deg) rotate(3deg);
        }

/*social media*/
        .social-icons {
          width: 100%;
          height: auto;
          padding-top: 5em;
          margin: 0 auto;

        }

        .icon {
          margin: 0 auto;
          float: left;
          position: relative;
          left: 10em;
          bottom: 1em ;
          width: 19%;
          height: 0;
          margin: 4% 1%;
          padding-bottom: 19%;
        }

        .icon:last-of-type {
          margin-right: 0;

        }
        .icon a {
          display: block;
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          border: 0;
          border-radius: 10px;
          background-color: #fff;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          -webkit-transition: all .2s ease-out;
          transition: all .2s ease-out;

        }
        .icon a:hover {
          background-color: #bbc4ef;
          background-size: 0%;
          -webkit-transition: all .2s ease-out;
          transition: all .2s ease-out;
        }

        .icon__name {
          position: absolute;
          top: 40%;
          width: 100%;
          margin-top: -7px;
          color: #193441;
          font-size: 25px;
          text-align: center;
          -webkit-transition: all .3s ease-out;
          transition: all .3s ease-out;
          opacity: 0;
          -webkit-filter: blur(25px);
          filter: blur(25px);
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          will-change: transform;
        }
        .icon:hover .icon__name {
          -webkit-transition: all .3s ease-out;
          transition: all .3s ease-out;
          opacity: 1;
          -webkit-filter: blur(0);
          filter: blur(0);
        }

        .icon--facebook a {
          background-color: white;
          background-image: url("../images/facebook.png");
        }

        .icon--google-plus a {
          background-color: white;
          background-image: url("../images/g+.png");
          margin-left: 2em;
        }

        .icon--linkedin a {
          background-color: white;
          background-image: url("../images/linkedin.png");
          margin-left: 4em;
        }

/*parallax scroll*/
          .parallax {
          /* The image used */
          background-image: url("../images/blurrycar.jpg");
          -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
          /* Set a specific height */
          height: 45em;
          padding-top: 2em;


          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
      }

          .parallax2 {
            /* The image used */
            background-image: url("../images/flower-back.jpeg");
            -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
            /* Set a specific height */
            height: 45em;
            padding-top: 2em;
            margin-top: -6em;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax3 {
            /* The image used */
            background-image: url("../images/people-walking.jpeg");
            /* Set a specific height */
            height: 45em;
            padding-top: 2em;
            -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

/*image slider*/
        .main-container {
          padding: 60px 30px;
          height: 43em;
          margin-bottom: 14em;
          border:3px solid black;
          -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
        }
         .carousel .item {
          min-height: 650px;
          height: 100%;
          width:100%;
          -webkit-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
        }

        .carousel-inner {
          -webkit-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);

        }
        .slide1 {
          background-image: url("../images/slider1.jpg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
        .slide2 {
          background-image: url("../images/slider2.jpg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
        .slide3 {
          background-image: url("../images/slider3.jpg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
        .carousel-indicators {
          bottom: 0;
        }
        .carousel-control.right,
        .carousel-control.left {
          background-image: none;
        }

        .carousel-caption h3,
        .carousel .icon-container,
        .carousel-caption button {

        }
        .carousel-caption h3 {
          padding-top: .7em;
          font-family: ostrich;
          color: black;
          background-color: #caebf2;
          -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
          -webkit-border-radius: 200px;
            height: 4em;
          -moz-border-radius: 200px;
          border-radius: 200px;
          font-size: 60px;
        }

        .carousel-caption {
          margin-bottom: 12em;
        }

        .carousel .icon-container {
          display: inline-block;
          font-size: 25px;
          line-height: 25px;
          padding: 1em;
          text-align: center;
          border-radius: 50%;
        }
        .carousel-caption button {
          margin-top: 2em;
          width: 8em;
          font-family: palanquinthin;
          letter-spacing: 5px;
        }

        .hvr-radial-out {
          display: inline-block;
          vertical-align: middle;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px transparent;
          position: relative;
          overflow: hidden;
          background: #efefef;
          color: black;
          border: 2px solid black;
          -webkit-transition-property: color;
          transition-property: color;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
        }
        .hvr-radial-out:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #96858f;
          border-radius: 100%;
          -webkit-transform: scale(0);
          transform: scale(0);
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }

        .hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
          color: #caebf2;
          letter-spacing: 10px;
          border: 2px solid #caebf2;
        }

        .hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
          -webkit-transform: scale(2);
          transform: scale(2);
        }

/* Animation delays */
        .carousel-caption h3:first-child {
          -webkit-animation-delay: 1s;
          animation-delay: 1s;
        }
        .carousel-caption h3:nth-child(2) {
          -webkit-animation-delay: 2s;
          animation-delay: 2s;
        }
        .carousel-caption button {
          -webkit-animation-delay: 3s;
          animation-delay: 3s;
        }

/*fade in effects in main section*/
          .laxfont {
          font-family:'palanquinthin', sans-serif;;
          font-size: 55px;
          color: black;
          background-color: white;
          line-height: 1;
          height: 4.25em;
          width: 10em;
          position: relative;
          /*left: 7em;*/
          margin: 0 auto;
          top: 4em;
          padding-left: .6em;
          padding-top: .5em;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          -webkit-box-shadow: 7px 6px 24px -7px rgba(0,0,0,0.75);
          -moz-box-shadow: 7px 6px 24px -7px rgba(0,0,0,0.75);
          box-shadow: 7px 6px 24px -7px rgba(0,0,0,0.75);
          -webkit-transition: all 1s ease; /* Safari and Chrome */
          -moz-transition: all .5s ease; /* Firefox */
          -ms-transition: all .5s ease; /* IE 9 */
          -o-transition: all .5s ease; /* Opera */
          transition: all .5s ease;
        }

        .laxfont:hover {
          cursor: pointer;
          background-color: #fedcd2;
          color: #0f1626;
        opacity:1;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-box-shadow: 13px 17px 32px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 13px 17px 32px 0px rgba(0,0,0,0.75);
        box-shadow: 13px 17px 32px 0px rgba(0,0,0,0.75);
        }

        .laxfont2 {
      font-family:'palanquinthin', sans-serif;;
      margin: 0 auto;
      cursor: pointer;
      font-size: 55px;
      color: black;
      background-color: white;
      line-height: 1;
      height: 3em;
      width: 10em;
      position: relative;
      /*left: 7em;*/
      top: 4em;
      padding-left: .6em;
      padding-top: .5em;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: 7px 6px 24px -7px rgba(0,0,0,0.75);
      -moz-box-shadow: 7px 6px 24px -7px rgba(0,0,0,0.75);
      box-shadow: 7px 6px 24px -7px rgba(0,0,0,0.75);
      -webkit-transition: all 1s ease; /* Safari and Chrome */
      -moz-transition: all .5s ease; /* Firefox */
      -ms-transition: all .5s ease; /* IE 9 */
      -o-transition: all .5s ease; /* Opera */
      transition: all .5s ease;
    }

        .laxfont2:hover {
          background-color: #fedcd2;
          color: #0f1626;
        opacity:1;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-box-shadow: 13px 17px 32px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 13px 17px 32px 0px rgba(0,0,0,0.75);
        box-shadow: 13px 17px 32px 0px rgba(0,0,0,0.75);
        }

/*flip card effects*/
  /*main stylin*/

        .grid {
          position: relative;
          margin: 0 auto;
          max-width: 1000px;
          list-style: none;
          text-align: center;
          height: 45em;
          padding-top: 10em;
        }

        /* Common style */
        .grid figure {
          position: relative;
          min-width: 320px;
          max-width: 550px;
          max-height: 360px;
          margin: 0 auto;
          height: auto;
          background: #3085a3;
          text-align: center;
          cursor: pointer;
          -webkit-box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
        }

        .grid figure img {
          position: relative;
          display: block;
          min-height: 100%;
          max-width: 100%;
          opacity: 0.8;
        }

        .grid figure figcaption {
          padding: 2em;
          color: #fff;
          text-transform: uppercase;
          font-size: 1.25em;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        .grid figure figcaption::before,
        .grid figure figcaption::after {
          pointer-events: none;
        }

        .grid figure figcaption,
        .grid figure figcaption > a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        /* Anchor will cover the whole item by default */
        /* For some effects it will show as a button */
        .grid figure figcaption > a {
          z-index: 1000;
          text-indent: 200%;
          white-space: nowrap;
          font-size: 0;
          opacity: 0;
        }

        .grid figure h2 {
          word-spacing: -0.15em;
          font-weight: 300;
        }

        .grid figure h2 span {
          font-weight: 800;
        }

        .grid figure h2,
        .grid figure p {
          margin: 0;
        }

        .grid figure p {
          letter-spacing: 1px;
          font-size: 68.5%;
        }

        /*specific styling*/
        figure.effect-animation {
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          z-index: auto;
          overflow: visible;
          background: #000;
        }

        figure.effect-animation:before,
        figure.effect-animation h2:before {

          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          background: #000;
          content: '';
          -webkit-transition: opacity 0.35s;
          transition: opacity 0.35s;
        }

        figure.effect-animation:before {
          box-shadow: 0 3px 30px rgba(0,0,0,0.8);
          opacity: 0;
        }

        figure.effect-animation figcaption {
          z-index: 1;
        }

        figure.effect-animation img {
          opacity: 1;
          -webkit-transition: -webkit-transform 0.35s;
          transition: transform 0.35s;
          -webkit-transform: perspective(1000px) translate3d(0,0,0);
          transform: perspective(1000px) translate3d(0,0,0);
          -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }

        figure.effect-animation h2,
        figure.effect-animation p {
          background: #fff;
          color: #2d434e;

        }

        figure.effect-animation h2 {
          position: relative;
          margin-top: 2em;
          padding: 0.25em;
        }

        figure.effect-animation h2:before {
          box-shadow: 0 1px 10px rgba(0,0,0,0.5);
        }

        figure.effect-animation p {
          margin-top: 1em;
          padding: 0.5em;
          font-weight: 800;
          opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
          -webkit-transform: scale3d(0.9,0.9,1);
          transform: scale3d(0.9,0.9,1);
        }

        figure.effect-animation:hover:before {
          opacity: 1;
        }

        figure.effect-animation:hover img {
          -webkit-transform: perspective(1000px) translate3d(0,0,21px);
          transform: perspective(1000px) translate3d(0,0,21px);
        }

        figure.effect-animation:hover h2:before {
          opacity: 0;
        }

        figure.effect-animation:hover p {
          opacity: 1;
          -webkit-transform: scale3d(1,1,1);
          transform: scale3d(1,1,1);
        }

/*end card flip*/

        .rw-wordz{
          display: inline;
          text-indent: 10px;
        }

        .rw-wordz span{
          position: absolute;
          opacity: 0;
          overflow: hidden;
          max-width: 400px;
          width: 100%;
          color: #6b969d;
          padding-bottom: 25px;
        }

        .rw-wordz-1 span{
          animation: rotateWordsFirst 15s linear infinite 0s;
        }
        .rw-wordz-2 span{
          animation: rotateWordsSecond 15s linear infinite 0s;
        }

        .rw-wordz-space {
          padding-top: 15px;
          padding-left: 2em;
        }

        .rw-wordz span:nth-child(2) {
          animation-delay: 3s;
          color: #6b889d;
        }
        .rw-wordz span:nth-child(3) {
          animation-delay: 6s;
          color: #6b739d;
        }
        .rw-wordz span:nth-child(4) {
          animation-delay: 9s;
          color: #7a6b9d;
        }
        .rw-wordz span:nth-child(5) {
          animation-delay: 12s;
          color: #8d6b9d;
        }


        @keyframes rotateWordsFirst {
            0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
            8% { opacity: 1; height: 60px; }
            19% { opacity: 1; height: 60px; }
          25% { opacity: 0; height: 60px; }
            100% https://static.pexels.com/photos/132204/pexels-photo-132204.jpeg{ opacity: 0; }
        }

        @keyframes rotateWordsSecond {
            0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
            10% { opacity: 0.3; width: 0px; }
          20% { opacity: 1; width: 100%; }
            27% { opacity: 0; width: 100%; }
            100% { opacity: 0; }
}

/*please contact section*/
          .contact-wrapper {
            height: 46em;
            padding-top: 2em;
            width: 100%;
            background-color: #e9b000;
            margin: 3em 0;
            -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
          }

          .contact-container {
          width: 93%;
          height: 42em;
          margin: 5em 0;
          margin: 0 auto;
          background: -webkit-linear-gradient(80deg, #008f95 43%, #cd5360 43%);
          background: linear-gradient(10deg, #008f95 43%, #cd5360 43%);
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
        }

        .h1style {
          font-family: 'rulervolume', sans-serif;
          letter-spacing: 20px;
          text-transform: uppercase;
          font-size: 16vw;
          text-align: center;
          line-height: 1.2;
          margin: 0 auto;
          position: relative;
          left: 48%;
          top: 48%;

          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

          color: #cd5360;  /*color bottom half of contact*/
          text-shadow: /*bottom half of contact*/
          /*1*/-1px -1px 0 #bfd8d2, 1px -1px 0 #bfd8d2, -1px 1px 0 #bfd8d2, 1px 1px 0 #bfd8d2, /*boxy outer lining for bottom half*/
          /*2*/1px 0px 0px #43c5c1, 0px 1px 0px #43c5c1, 2px 1px 0px #43c5c1, 1px 2px 0px #43c5c1, 3px 2px 0px #43c5c1, 2px 3px 0px #43c5c1, 4px 3px 0px #43c5c1, 3px 4px 0px #43c5c1, 5px 4px 0px #43c5c1, /*inner shadow for bottom half*/
          /*1*/3px 5px 0px #bfd8d2, 6px 5px 0px #bfd8d2,
          /*3*/-1px 2px 0 black,
          /*1*/0 3px 0 #bfd8d2, 1px 4px 0 #bfd8d2, 2px 5px 0px #bfd8d2, 2px -1px 0 #bfd8d2, 3px 0 0 #bfd8d2, 4px 1px 0 #bfd8d2, 5px 2px 0px #bfd8d2, 6px 3px 0 #bfd8d2, 7px 4px 0 #bfd8d2,
          /*4*/10px 10px 4px #49274a; /*main background shade bottom*/
        }

        .h1style:after, .h1style:before {
          content: attr(data-heading);
          position: absolute;
          overflow: hidden;
          left: 0;
          width: 100%;
          top: 0;
          z-index: 5;
        }
        .h1style:before {
          text-shadow:
          /*1*/-1px -1px 0 #bfd8d2, 1px -1px 0 #bfd8d2, -1px 1px 0 #bfd8d2, 1px 1px 0 #bfd8d2,
          /*2*/1px 0px 0px #43c5c1, 0px 1px 0px #43c5c1, 2px 1px 0px #43c5c1, 1px 2px 0px #43c5c1, 3px 2px 0px #43c5c1, 2px 3px 0px #43c5c1, 4px 3px 0px #43c5c1, 3px 4px 0px #43c5c1, 5px 4px 0px #43c5c1,
          /*1*/3px 5px 0px #bfd8d2, 6px 5px 0px #bfd8d2,
          /*3*/-1px 2px 0 black,
          /*1*/0 3px 0 #bfd8d2, 1px 4px 0 #bfd8d2, 2px 5px 0px #bfd8d2, 2px -1px 0 #bfd8d2,
          /*4*/3px 0 0 #e9b000,
          /*1*/4px 1px 0 #bfd8d2, 5px 2px 0px #bfd8d2, 6px 3px 0 #bfd8d2, 7px 4px 0 #bfd8d2,
          /*5*/10px 10px 4px #015249; /*main background for top*/
          color: #e9b000; /*bottom half of top top half of bottom*/
          height: 66%;
        }
        .h1style:after {
          height: 33%;
          color: #286da8; /*top half of first word color*/
          text-shadow: -1px -1px 0 #2f3e9c, 1px -1px 0 #2f3e9c, -1px 1px 0 #2f3e9c, 1px 1px 0 #2f3e9c, 1px 0px 0px #f98ca4, 0px 1px 0px #f98ca4, 2px 1px 0px #f98ca4, 1px 2px 0px #f98ca4, 3px 2px 0px #f98ca4, 2px 3px 0px #f98ca4, 4px 3px 0px #f98ca4, 3px 4px 0px #f98ca4, 5px 4px 0px #f98ca4, 3px 5px 0px #2f3e9c, 6px 5px 0px #2f3e9c, -1px 2px 0 black, 0 3px 0 #2f3e9c, 1px 4px 0 #2f3e9c, 2px 5px 0px #2f3e9c, 2px -1px 0 #2f3e9c, 3px 0 0 #2f3e9c, 4px 1px 0 #2f3e9c, 5px 2px 0px #2f3e9c, 6px 3px 0 #2f3e9c, 7px 4px 0 #2f3e9c;
        }

        /*footer*/
        .foot-style {
          font-size: 13px;
          height: 39em;
          margin-top: -3em;
          background: #1F2833;
          color: white;
          -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
          text-align: center;
          line-height: 2;
        }

        .foot-style img {
          width: 150px;
          position: relative;
          top: 5em;
          background-color: white;
          margin: 0 auto;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
        }

        .foot-text {
          position: relative;
          top: 10em;
        }

        .marg-foot{
          padding-top: 0em;
        }

        .height.foot-style-reappear {
          display: none;
        }

        /*footer link style*/
        nav a {
          position: relative;
          display: inline-block;
          outline: none;
          color: #fff;
          text-decoration: none;
          text-shadow: 0 0 1px rgba(255,255,255,0.3);
        }

        nav a:hover,
        nav a:focus {
          outline: none;
          color: #fff;
        }

        /*DEMO EFFECTS*/
        /* To Navigation Style */

        .color-6 {
          margin: 0 auto;
          text-align: center;
        }
        /*end demo effects*/

        /* Effect 3: bottom line slides/fades in */
        .cl-effect-3 a {
          padding: 2px 0;
        }

        .cl-effect-3 a::after {
          position: absolute;
          top: 27px;
          left: 0;
          width: 100%;
          height: 3px;
          background: #fff;
          content: '';
          opacity: 0;
          -webkit-transition: opacity 0.3s, -webkit-transform 0.6s;
          -moz-transition: opacity 0.3s, -moz-transform 0.6s;
          transition: opacity 0.3s, transform 0.6s;
          -webkit-transform: translateY(10px);
          -moz-transform: translateY(10px);
          transform: translateY(10px);
        }

        .cl-effect-3 a:hover::after,
        .cl-effect-3 a:focus::after {
          opacity: 1;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          transform: translateY(0px);
        }

        /* Effect 13: three circles */
        .cl-effect-13 a {
          -webkit-transition: color 0.3s;
          -moz-transition: color 0.3s;
          transition: color 0.3s;
        }

        .cl-effect-13 a::before {
          position: absolute;
          top: 50%;
          left: 50%;
          color: transparent;
          content: '•';
          text-shadow: 0 0 transparent;
          font-size: 1.2em;
          -webkit-transition: text-shadow 0.3s, color 0.3s;
          -moz-transition: text-shadow 0.3s, color 0.3s;
          transition: text-shadow 0.3s, color 0.3s;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          transform: translateX(-50%);
          pointer-events: none;
        }

        .cl-effect-13 a:hover::before,
        .cl-effect-13 a:focus::before {
          color: #fff;
          text-shadow: 10px 0 #fff, -10px 0 #fff;
        }

        .bottom-footer {
          position: relative;
          top: 10em;
          font-size: 15px;
          width: 100%;
        }

        .bottom-footer a {
          padding: 0 20px;

        }

        .bottom-footer p {
          padding-top: 1em;
          padding-bottom: 1em;
        }

        /*social media footer*/
        /* Wrapper */
        .icon-button {
          background-color: #1F2833;
          border-radius: 3.6rem;
          cursor: pointer;
          display: inline-block;
          font-size: 2.0rem;
          height: 3.6rem;
          line-height: 3.6rem;
          margin: 0 5px;
          position: relative;
          text-align: center;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          width: 3.6rem;
        }

        /* Circle */
        .icon-button span {
          border-radius: 0;
          display: block;
          height: 0;
          left: 50%;
          margin: 0;
          position: absolute;
          top: 50%;
          -webkit-transition: all 0.3s;
             -moz-transition: all 0.3s;
               -o-transition: all 0.3s;
                  transition: all 0.3s;
          width: 0;
        }
        .icon-button:hover span {
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 3.6rem;
          margin: -1.8rem;
        }
        .linkedin span {
          background-color: #008f95;
        }
        .facebook span {
          background-color: #b4dbc0;
        }
        .google-plus span {
          background-color: #f81884;
        }

        /* Icons */
        .icon-button i {
          background: none;
          color: white;
          height: 3.6rem;
          left: 0;
          line-height: 3.6rem;
          position: absolute;
          top: 0;
          -webkit-transition: all 0.3s;
             -moz-transition: all 0.3s;
               -o-transition: all 0.3s;
                  transition: all 0.3s;
          width: 3.6rem;
          z-index: 10;
        }
        .icon-button .icon-linkedin {
          color: #4099ff;
        }
        .icon-button .icon-facebook {
          color: #3B5998;
        }
        .icon-button .icon-google-plus {
          color: #db5a3c;
        }
        .icon-button:hover .icon-linkedin,
        .icon-button:hover .icon-facebook,
        .icon-button:hover .icon-google-plus {
          color: white;
        }








